<html>
<head>
    <title>Scott Darvill</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/error_pages.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
    <div id="header">
        <a class="white_link" href="/"><h3>SCOTT DARVILL</h3></a>
    </div>
    <div id="wrap">
        <div id="error_page">
            <br>
            <h2>SORRY</h2>
            <p>Something has gone wrong and we can't display this page, enjoy this labrador and then head back to the <a href="/">home page</a></p> 
            <img src="/images/BlackLabradorPuppy.png" class="dog_picture">
        </div>
    </div>
    <div id="footer">
        <p>Built with Node.JS, Docker & AWS. &copy; Copyright Scott Darvill &nbsp;</p>
    </div>
</div>
</body>
</html>