<!Doctype html>

<html>

<head>
    <title>Scott Darvill</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <video poster="/images/background_video/Puppiness.jpg" id="bgvid" playsinline="" autoplay="" muted=""
        loop="">
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="/images/background_video/Puppiness.webm" type="video/webm">
        <source src="/images/background_video/Puppiness.mp4" type="video/mp4">
    </video>
    <div id="description_box">
        <h1>Scott Darvill</h1>
        <p>Burgers, Dogs, Ravenclaw. Software Engineer for Suncorp in Auckland, New Zealand. <i class="em em-flag-nz"></i></p>
        <p><a id="contact" href="/myexperiments">My Experiments</a></p>
        <p><a id="contact" href="mailto:scottdarvil.@gmail.com">Get in contact</a></p>
    </div>
    <div id="footer">
        <p>Built with Node.JS, Docker & AWS. &copy; Copyright Scott Darvill &nbsp;</p>
    </div>
</body>
</html>