* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #wrap {
    min-height: 95%;
  }
  
  #main {
    overflow: auto;
    padding-bottom: 10px;
    /* must be same height as the footer */
  }
  
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0px;
}

  #header { 
      background: #232f3e;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      padding-left: 1rem;
      font-size: 1.2rem;
      margin-bottom: 0;
      letter-spacing: .3rem;
      text-transform: uppercase;
    }
    
    .white_link, .white_link:hover {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        margin: 2px;
    }

    #footer {  
        color: #444444;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 0.6rem;
        text-align: right;
        position: relative;
        width: 100%;
        margin-top: -10px;
        /* negative value of footer height */
        height: 10px;
        clear: both;
      }
    
      @media only screen and (max-width: 768px) {
      
        
    }